/*POUR PAGES INDEX & PAGES 2*/

body {
  overflow-x: hidden;
  background-color: whitesmoke;
  margin: 0px;
  
}

*{
  box-sizing: border-box;
  max-width: 100%;
}
  
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/*For mobile phones: */
[class*="col-"] {
  width: 100%;
}

/* For desktop: */  
@media only screen and (min-width: 800px) {
  .col-1 {width: 25%;}
  .col-1² {width: 45%;}
  .col-2 {width: 50%;}
  .col-3 {width: 75%;}
  .col-4 {width: 100%;}
}

.TitleOfPage{
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  text-decoration: underline;
}

.PhraseAccroche{
  text-align: center;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.TitleOfArticle{
  font-weight: bold;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.Description{
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

p{
  text-align: justify;
}

/*.aside {
  background-color: lightblue;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 14px;
}*/

/*PAGE INDEX*/

.SectionText{
  background-color: lightgray;
  border: solid 1px black;
}

.SectionImage{
 background-color: lightsteelblue;
 border: solid 1px black;
}

.DecoImg{
  border-radius: 30px;
  border: solid 2px black;
  padding: 0px;
  margin-bottom: 5px;
}

.MarginImg{
  margin-right: 5px;
}

.SectionCarte{
  background-color: lightskyblue;
  border: solid 1px black;
}

.TxtImg{
  text-decoration: underline solid 2px;
  font-weight: 600;
}

/*IframePourCarteInteractif*/

.CarteInte{
  border: solid 5px black;
  padding: 0px 0px 0px 0px;
}

.SectionEvent{
  background-color: lightgray;
  border: solid 1px black;
}

.Lien{
  text-decoration: none;
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 5px 5px 5px;
}

.TxtFooter{
  text-align: center;
}

.Contact{
  color: white;
  text-decoration: none;
}


/*PAGES 2 */

.PageRetour{
  font-size: 10px;
  color: black;
}

.PresentationEvent1{
  background-color: lightsalmon;
  border: solid 1px black;
}

.LocalisationEvent1{
 background-color: lightsalmon;
 border: solid 1px black;
}

.PresentationEvent2{
 background-color: lightgreen;
 border: solid 1px black;
}

.LocalisationEvent2{
  background-color: lightgreen;
  border: solid 1px black;
}

.PresentationEvent3{
  background-color: lightcoral;
  border: solid 1px black;
}

.LocalisationEvent3{
  background-color: lightcoral;
  border: solid 1px black;
}

.PresentationEvent4{
  background-color: lightsalmon;
  border: solid 1px black;
}

.LocalisationEvent4{
  background-color: lightsalmon;
  border: solid 1px black;
}

.PresentationEvent5{
  background-color: lightgreen;
  border: solid 1px black;
}

.LocalisationEvent5{
 background-color: lightgreen;
 border: solid 1px black;
}

.PresentationEvent6{
  background-color: lightcoral;
  border: solid 1px black;
}

.LocalisationEvent6{
  background-color: lightcoral;
  border: solid 1px black;
}

img{
  border: solid 3px black;
  border-radius: 25px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 -2rem;
}