/*POUR PAGES INDEX & PAGES 2*/

body {
  overflow-x: hidden;
}

*{
  box-sizing: border-box;
  max-width: 100%;
}
  
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/*For mobile phones: */
[class*="col-"] {
  width: 100%;
}

/* For desktop: */  
@media only screen and (min-width: 800px) {
  .col-1 {width: 25%;}
  .col-1² {width: 45%;}
  .col-2 {width: 50%;}
  .col-3 {width: 75%;}
  .col-4 {width: 100%;}
}

.TitleOfPage{
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
}

.TitleOfArticle{
  font-weight: bold;
  font-style: italic;
}

p{
  text-align: justify;
}

.aside {
  background-color: lightblue;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 14px;
}

/*PAGE INDEX*/

.SectionText{
  background-color: lightgray;
}

.SectionImage{
  background-color: lightgreen;
}

.DecoImg{
  border-radius: 30px;
  border: solid 2px black;
  padding: 0px;
  margin-bottom: 5px;
}

.MarginImg{
  margin-right: 5px;
}

.SectionCarte{
  background-color: lightcoral;
}

/*IframePourCarteInteractif*/

.CarteInte{
  border: solid 5px black;
  padding: 0px 0px 0px 0px;
}

.SectionEvent{
  background-color: lightsalmon;
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 5px 0px;
}

/*PAGES 2 */

.PresentationEvent1{
background-color: lightblue;
}

.LocalisationEvent1{
background-color: lightgoldenrodyellow;
}

.PresentationEvent2{
background-color: lightgreen;
}

.LocalisationEvent2{
background-color: lightpink;
}

.PresentationEvent3{
background-color: lightyellow;
}

.LocalisationEvent3{
background-color: lightcoral;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 -2rem;
}